body {
  background: url('debut_light.png')
}

#row {
  box-shadow: 0 0 5px #684F91;
  font-size: 18px;
  color: #080D3B;
  background-color: white;
}

.container {
  width: 600px;
  font-size: 40px;
  text-align: center;
  margin: 20px auto;
}

h2 {
  margin: 5px;
  color: #7d82b0;
}

.delete {
  margin-right: 5px;
  background-color:#fc999b;
  color:#ffffff;
}

.delete:hover {
  cursor: pointer;
  opacity: .8;
}

button {
  background-color:#87c700;
  color:#ffffff;
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

#todo-list, #create-task {
  width: 100%;
  padding: 10px 30px;
  border-left:    1px  solid #7d82b0;
  border-right:   1px  solid #7d82b0;
  border-bottom:  2px  solid #7d82b0;
  border-top:     15px solid #477187;
}
